<header class ="header1">
    	<div class="hdtitle">
    		<h2 class="hd-title p">VSQUARE 점심 시간<br>둘중 선택<br>↙↘ </h2>
    	</div>
    </header>
<section class="sectiona">
       <div class ="container">
        <article class="article">
          <button class="btn" style="height:650px mobile;" onclick="location.href='choice'"><img
          src="./store.jpg"></button>
          <p class="abc p">회사 주변 가게들</p>
        
        </article>
        <article class="article1">
          <button class="btn" style="height:650px mobile;"onclick="location.href='random'"><img
          src="./roulette.jpg"></button>
          <p class="abc p">룰렛 돌리기</p>
        
        </article>
      </div>
</section>
<footer class="footer3" id="footer1">
    <div class ="container" >
    	<p class="p">Copyright(C) 2017 남서울대학교 by 정우현.</p>
    </div>
</footer>